@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size: 100%;
}
html, body{
	width: 100%; height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-size: 1rem;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #fefefe;
	background-color: #00264a;
}
img {
	vertical-align: middle;
	width: auto; height: auto;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 1rem;
}
p {
	margin: 1rem 0;
}
a {
	text-decoration: none;
	color: inherit;
}
button, input, textarea {
	text-decoration: none;
	background: none transparent;
	border: 0 none;
	padding: 0;
	outline: 0 none;
}
.img-responsive {
	max-width: 100%;
	height: auto; width: auto;
}
.clear {
	clear: both;
}
.align-right {
	text-align: right !important;
}
.align-center {
	text-align: center !important;
}
.align-left {
	text-align: left !important;
}
@media screen and (max-width: 1270px), screen and (max-height: 650px) {
	body {
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 1160px) {
	body {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 1020px) {
	body {
		font-size: 0.7rem;
	}
}
@media screen and (max-width: 900px) {
	body {
		font-size: 0.55rem;
	}
}
